.content {
    padding-top: 5vw
}

.date {
    display: inline-block;
    margin-left: 2vw
}

textarea {
    display: inline-block
}

button {
    display: inline-block;
}

.nickname {
    display: inline-block;
    float: right;
    margin-right: 5vw;
    animation-name: color_change;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

hr {
    height: 1px;
    background-color: black
}

.fans_input {
    width: 50vw;
    height: 30vw
}

.navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
    animation-name: menu_animation;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1,
h2 {
    font-family: "Essays 1743", "Palatino Linotype", "Book Antiqua", "Times New Roman", serif
}

h2 {
    text-align: left;
    text-transform: inherit
}

a {
    color: firebrick
}

p {
    font-size: large
}

#arsenal_logo {
    max-height: 30%;
    max-width: 5%;
    float: right;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

@keyframes color_change {
    from {
        color: aliceblue
    }

    to {
        color: black
    }
}

@keyframes menu_animation {
    from {background-color: red}
    to{ background-color: firebrick}
}
